
# Postgres

POSTGRES_HOST = change_me

POSTGRES_DB = change_me

POSTGRES_USER = change_me

POSTGRES_PASSWORD = change_me

POSTGRES_PORT = 5432


# Пул соединений

POSTGRES_POOL_MIN_SIZE = 5

POSTGRES_POOL_MAX_SIZE = 20


# Ollama

OLLAMA_MODEL = qwen2.5-coder:7b

OLLAMA_TIMEOUT_SECONDS = 60

OLLAMA_MAX_TOKENS = 500


# Guardrails

MAX_ROWS = 500

QUERY_TIMEOUT_SECONDS = 15

RATE_LIMIT_PER_MINUTE = 20


# Wren (опционально)

WREN_TIMEOUT_SECONDS = 20


# Часовой пояс БД

CHART_TIMEZONE_OFFSET_HOURS=3


# В docker-compose.yml: OLLAMA_URL, CHART_RENDERER_URL, WREN_CONNECTION_INFO